.WordBox {
    width: 200px;
    margin-bottom: 10px;
    border: 1px solid green;
    border-radius: 15px;
    padding: 5px;
    background: rgb(246,193,1);
    background: linear-gradient(0deg, rgba(246,193,1,1) 60%, rgba(255,255,255,1) 100%);
}